.wrapper-label {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    .text {
        font-size: var(--size-xsmall);
        font-weight: var(--weight-medium);

        .required {
            color: var(--tertiary-color);
        }
    }

    .field {
        min-width: 100%;
        padding: 0.5rem 0.25rem;
        outline: none;
        border: 1px solid var(--secondary-hover);
        font-weight: var(--weight-regular);
        font-size: var(--size-small);
        color: var(--secondary-color);
        border-radius: none;

        &:hover {
            border: 1px solid var(--secondary-color);
        }

        &:focus {
            border: 1px solid var(--secondary-color);
        }

        &::placeholder {
            font-size: var(--size-small);
            font-weight: var(--weight-regular);
        }
    }

    .area {
        --width-area: 40rem;
        min-height: 10rem;
        max-height: 10rem;
        height: 10rem;
        width: var(--width-area);
        min-width: var(--width-area);
        max-width: var(--width-area);
        outline: none;
        border: 1px solid var(--tertiary-color);
        padding: 0.5rem 0.25rem;
        font-family: var(--font-myFont);
        resize: none;
        overflow-y: auto;
        font-weight: var(--weight-regular);
        font-size: var(--size-small);
        color: var(--secondary-color);
        border-radius: none;

        &:hover {
            border: 1px solid var(--secondary-color);
        }

        &:focus {
            border: 1px solid var(--secondary-color);
        }

        &::placeholder {
            font-size: var(--size-small);
            font-weight: var(--weight-regular);
        }

        @media (max-width:768px) {
            --width-area: 90vw;
        }
    }

    .error {
        background-color: var(--danger-color);
        padding: 0.4rem;
        border-radius: 5px;
        font-weight: var(--weight-regular);
    }
}