.swiper-slide {
    cursor: pointer;
}

.first-img-galery {
    height: 100%;
    width: 100%;
    z-index: 0 !important;
}

/*separador*/
.second-img-galery {
    height: 100%;
    width: 100%;
    padding: 1rem 0 !important;
    z-index: 0 !important;
    ;
}

/*animacion*/
.second-img-galery .swiper-slide {
    opacity: 0.4;
}

.second-img-galery .swiper-slide:hover {
    opacity: 0.7;
}

.second-img-galery .swiper-slide-thumb-active {
    opacity: 1;
}

.second-img-galery .swiper-slide-thumb-active:hover {
    opacity: 1;
}