.swiper-slide {
    cursor: pointer;
}

.mySwiper2 {
    height: 100%;
    width: 100%;
    z-index: 0;
}

/*separador*/
.mySwiper {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    z-index: 0;
}

/*animacion*/
.mySwiper .swiper-slide {
    opacity: 0.4;
}

.mySwiper .swiper-slide:hover {
    opacity: 0.7;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active:hover {
    opacity: 1;
}