.container-section-icon {
    cursor: pointer;

    &.small {
        height: 1.5rem;
        width: 1.5rem;
    }

    &.medium {
        height: 2rem;
        width: 2rem;
    }

    &.big {
        height: 2.5rem;
        width: 2.5rem;
    }

    &.hidden-mobile {
        @media (max-width:442px) {
            display: none;
        }
    }

    &.hidden-desktop {
        display: none;

        @media (max-width:442px) {
            display: flex;
        }
    }

    .path {
        &.primary {
            fill: var(--primary-color);
        }

        &.secondary {
            fill: var(--secondary-color);
        }

        &.isNavTransition {
            transition: 0.25s ease-in-out;
        }
    }

    &.hover {
        &:hover {
            .path {
                &.primary {
                    fill: var(--primary-hover);
                }

                &.secondary {
                    fill: var(--secondary-hover);
                }
            }
        }
    }
}