.container-section-OutStanding {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: var(--max-width);
        max-width: var(--max-width);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @media (max-width:1200px) {
            width: 100vw;
            max-width: 100vw;
            padding: 0 2rem;
        }

        @media (max-width:768px) {
            width: var(--max-width);
            max-width: var(--max-width);
            padding: 0;
        }

        .container-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            color: var(--secondary-color);
            width: 100%;
            padding-bottom: 2rem;

            .small {
                display: flex;
                align-items: center;
                gap: 0.35rem;
                font-size: var(--size-xsmall);
                font-weight: var(--weight-medium);

                .line-decoration {
                    width: 1.3rem;
                    height: 1px;
                    background-color: var(--secondary-color);
                }
            }

            .title {
                font-weight: var(--weight-bold);
                font-size: var(--size-giant);
                text-transform: uppercase;

                @media (max-width:442px) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .container-carousel-desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
            gap: 4rem;
            overflow: hidden;
            width: 100%;

            @media (max-width:1400px) {
                gap: 3rem;
            }

            @media (max-width:1200px) {
                gap: 2rem;
            }

            @media (max-width:768px) {
                display: none;
            }
        }

        .container-carousel-mobile {
            display: none;

            @media (max-width:768px) {
                display: flex;
                width: 100%;
            }
        }
    }
}