.container-section-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100vw;
    height: 5rem;
    min-height: 5rem;
    max-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    z-index: 3;

    &.active {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background-color: var(--primary-color);
        transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

        .wrapper .text {
            color: var(--secondary-color);
            transition: color 0.25s ease-in-out;

            &:hover {
                border-bottom: 2px solid var(--secondary-color);
            }
        }

        .wrapper .logo-text {
            color: var(--secondary-color);
            transition: color 0.25s ease-in-out;
        }
    }

    &.secondary {
        //shadow & bg
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background-color: var(--primary-color);
    }

    &.active-side-menu {
        display: none;

        @media (max-width:768px) {
            display: flex;
            background-color: var(--primary-color);
        }
    }

    .wrapper {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 0 2rem;
        color: var(--primary-color);

        &.secondary {
            color: var(--secondary-color);
        }

        @media (max-width:768px) {
            width: var(--max-width);
            max-width: var(--max-width);
            padding: 0;
            margin-right: -0.15rem; //padding icon
        }

        .logo-text {
            font-weight: var(--weight-medium);
            font-size: var(--size-xmedium);
            transition: color 0.25s ease-in-out;
        }

        .text {
            font-weight: var(--weight-medium);
            font-size: var(--size-medium);
            transition: color 0.25s ease-in-out;
            height: 1.15rem;

            &:hover {
                border-bottom: 2px solid var(--primary-color);
            }

            &.secondary-color {

                &:hover {
                    border-bottom: 2px solid var(--secondary-color);
                }
            }
        }

        .container-navigation-titles {
            display: flex;
            align-items: center;
            gap: 1rem;

            @media (max-width:768px) {
                display: none;
            }

            .text {
                font-weight: var(--weight-medium);
                font-size: var(--size-xsmall);
            }
        }

        .container-mobile-icon {
            display: none;

            @media (max-width:768px) {
                display: flex;
            }
        }
    }
}